*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-image: linear-gradient(to right, rgb(233, 115, 115), rgb(72, 72, 228));
    padding: 40px;
}

header > h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgba(236, 160, 160, 0.171);
}

main > h2{
    font-family: Arial, Helvetica, sans-serif;
}