*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-image: linear-gradient(to right, rgb(233, 115, 115), rgb(72, 72, 228));
    padding: 40px;
}

header > h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgba(255, 0, 0, 0.171);
    font-size: 1.4em;
}

main > h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 1.3em;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.474), transparent);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.3em;
}

main img {
    width: 100%;
    padding-top: 10px;
}








footer{
    background-color: black;
    text-align: center;
    color: white;
}

footer > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


footer > a:hover{
    color: purple;
    text-decoration: underline;
}